<div class="container">
  <a routerLink="" class="header">< Back to list of videos</a>
  <div class="item-container clearfix" *ngFor="let list of videoList?.items; let i = index;">
    <div *ngIf="itemId === list?.id">
      <div class="video-details">
        <h1>{{list?.snippet?.title}}</h1>
        <p class="published">Published on {{list?.snippet?.publishedAt | date}}</p>
      </div>
      <div class="item-media">
          <div class="video-responsive">
            <iframe width="480" 
                    height="360" 
                    [src]="safeURL" 
                    title="{{list?.snippet?.title}} video" 
                    frameborder="0" 
                    allowfullscreen 
                    aria-hidden="true"></iframe>
          </div>
      </div>
      <div class="item-description">
        <p class="description">{{list?.snippet?.description}}</p>
      </div>
    </div>
  </div>
</div>
